body{
	font-family: "sans-serif";
}

.side {
	position: absolute;
	height: 100%;
	top: 0%;
	left: 0%;
	width: 30%;
	background-color: #777;
	transition: transform 0.4s ease;
}

.side.hidden{
	-ms-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

.side-tab{
	position: relative;
	width: 20px;
	right: -100%;
	top: 20%;
	background-color: inherit;
	border: 1px solid inherit;
	border-radius: 0% 20% 20% 0%;
	color: white;
	cursor: pointer;
}

.side-inner.hidden{
	display: none;
}

.center{
	width: 60%;
	margin: 0 auto;
}

h1{
	text-align: center;
}

footer{
	position: absolute;
	bottom: 2%;
}

.btn{
	width: 20%;
	margin: 0 auto;
	text-align: center;
	padding: 1%;
	border-radius: 6px;
	background-color: #A7D8FF;
	cursor: pointer;
	transition: 0.2s background-color;
}

input#id{
	width: 40%;
	text-align: center;
	font-size: 3em;
	display: block;
	margin: 0 auto;
	margin-bottom: 1%;
	border: none;
	background-color: inherit;
	border-bottom: 2px solid #CCC;
}

.btn.invalid{
	background-color: #CCC;
	cursor: default;
	
}



@media only screen and (max-width: 400px) {
	
	input#id{
		width: 80%;
	}
	
	.btn{
		width: 80%;
		font-size: 2em;
	}
}
