<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
	</head>

	<body>
		<h1>Simple Timetable</h1>


		<input type="number" id="id" placeholder="964552" required></input>
		<input type="submit"></input>
	</body>
</html>
