<!DOCTYPE html>

<html>
	<head>
		<title>Swantime</title>
		<meta charset="utf-8"/>
		<base href="/"/>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body>
		<div class="center">
			<h1>Simple Timetable</h1>		
			<input type="number" id="id" placeholder="964552" required></input>
			<div id="btn" class="btn">Away!</div>
		</div>
		
		
		<script>
			function $(id){
				return document.getElementById(id);
			}
			
			var num = $("id");
			var btn = $("btn");
			
			num.onkeyup = function(){
				if(num.value == ""){
					btn.classList.add("invalid");
				}else{
					btn.classList.remove("invalid");
				}
			}
			
			function showTimetable(){
				if(btn.classList.contains("invalid"))return;
				window.location = "/user/"+num.value+"/";
			}
			
			
			btn.onmouseup = showTimetable();
			document.onkeyup = function(e){
				if(e.keyCode == 13){
					showTimetable();
				}
			}
		</script>
	</body>
</html>
