<h1>Simple Timetable</h1>


<input type="number" id="id" placeholder="964552" required></input>
<input type="submit"></input>

<script>
	function $(id){
		return document.getElementById(id);
	}

	var num = $("id");

	num.addEventListener("onkeyup", function(){
		alert("HUI");
	});
</script>
